html, body {
  height: 100%;
  &.not-loaded {
    overflow: hidden;
  }
}

#loader {
  .not-loaded & {
    display: flex;
    visibility: visible;
  }
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $custom-color-1;
  display: none;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  font: {
    size: rem(50px);
    family: $font-header;
    weight: 400;
  }
  color: $white;
  z-index: 999999;
}

#message {
  margin-bottom: rem(20px);
  .delete {
    margin: rem(5px 5px 0 0);
  }
}

#new-file-form .file {
  margin-right: rem(10px);
}
.card {
  position:relative;
}

.delete-file, .close-modal, .download-file {
  top: rem(20px);
  right: rem(20px);
  position: absolute;
}
.delete-file, .download-file {
  visibility: hidden;
  opacity: 0;
  top: 0;
  @include transition(all 200ms linear 0s);
}

.delete-file, .close-modal, .edit-button, .download-file {
  background: rgba($white, 1);
  @extend %boxLook;
  cursor: pointer;
  font: {
    size: rem(15px);
  }
  width: rem(40px);
  height: rem(40px);
  color: $custom-color-1;
  border: none;
  z-index: 1;
  padding: 0;
  @include transform(all 200ms linear 0s);
  &:hover {
    color: $white;
    background: $custom-color-1;
  }
  &.hidden {
    display: none;
  }
  svg {
    width: rem(20px);
    height: auto;
  }
}

.download-file {
  right: rem(70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-file {
  color: $danger;
  &:hover {
    background: $danger;
  }
}


.card audio {
  width: 100%;
}

.video-header-wrapper > video {
  position: relative;
  top: rem(-25px);
}

.loading {
  text-align: center;
  margin-bottom: rem(20px);
}

.modal-custom {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100%;
  .modal-background {
    background: rgba($black, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &.hidden {
    display: none;
    &.visible {
      display: flex!important;
    }
  }
  .modal-dialog {
    max-height: 85vh;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 80vh;
    min-height: unset;
    height: auto;
    margin: 0;
    display: inline-block;
    pointer-events: all;
    &:before, &:after {
      min-height: unset;
      height: 0;
    }
    .modal-content {
      border: none;
      @extend %boxLook;
    }
    .modal-content, .modal-body {
      max-height: 85vh;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

.table {
  td {
    &.long-line {
      word-break: break-word!important;
    }
  }
}



.pagination {
  margin-top: rem(30px);
  @extend %boxLook;
  overflow: hidden;
  a {
    border: none!important;
  }
}

// vue animation
[v-cloak] {
  display: none;
}

.file-wrapper {
  margin-bottom: $grid-gutter-width;
  .card {
    height: 100%;
    cursor:pointer;
    &:hover {
      & > .delete-file, & > .download-file {
        visibility: visible;
        opacity: 1;
        top: rem(20px);
      }
    }
    .card-image-top {
      flex: 1;
      .file-header-wrapper {
        height: 100%;
        overflow: hidden;
        width: 100%;
        max-height: rem(300px);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .card-body {
      flex: 0;
    }
  }
}

.empty-dir {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: rem(300px);
}

.custom-file-input {
  &.german {
    content: "Durchsuchen";
  }
}

.highlighted { color: red }