#sidebar {
  position: relative;
  z-index: 10;
  flex: 0;
  min-width: 12vw;
  height: 100%;
  background: $custom-color-2;
  @extend %box-shadow;
  #logo {
    background: $custom-color-1;
    min-height: rem(106px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(20px);
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
  & > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: calc(100vh - (105px));
    & > li {
      min-height: 25%;
      height: 25%;
      border-top: 1px solid rgba(255,255,255,0.1);
      padding: rem(20px);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font: {
        family: $font-header;
        weight: 400;
        size: rem(20px);
      }
      img {
        width: rem(40px);
        height: auto;
        margin-bottom: 20px;
        &.width {
          width: auto;
          height: rem(40px);
        }
        display: none;
        &.blue {
          display: block;
        }
      }
      color: $custom-color-1;
      @include transition(all 200ms linear 0s);
      &:hover, &.active {
        background: $custom-color-1;
        @extend %box-shadow;
        color: $custom-color-2;
        text-decoration: none;
        img {
          display: block;
          &.blue {
            display: none;
          }
        }
        //border-color: $custom-color-1;
      }
    }
  }
}
#content {
  flex: 1;
  #inner-content {
    position: relative;
    z-index: 1;
    flex: 1;
    height: 100%;
    max-height: calc(100% - 60px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .search-wrapper {
      display: block;
      @extend %box-shadow;
      padding: rem(20px 50px);
      background: $custom-color-2;
      .navbar-form {
        position: relative;
        .search-input {
          border: none;
          @extend %boxLook;
          background: $white;
          padding: rem(20px);
          width: 100%;
        }
        .search-submit {
          position: absolute;
          top: 32px;
          right: 0;
          @include transform(translateY(-50%));
          color: $custom-color-2;
          border: none;
          background: transparent;
          padding: 20px;
          cursor: pointer;
          @include transition(all 200ms linear 0s);
          &:focus, &:active, &:hover {
            outline: none;
            box-shadow: none;
            color: $custom-color-1;
          }
        }
      }
      #navbarNav {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        ul.navbar-nav {
          height: 100%;
          margin-left: auto;
          display: inline-block;
          li {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
              color: $custom-color-1;
              display: inline-block;
              padding: rem(20px 0 20px 20px);
              @include transition(all 200ms linear 0s);
              &:hover {
                color: $custom-color-1;
              }
            }
            .dropdown-menu {
              right: 0;
              left: auto;
              border: none;
              @extend %boxLook;
              top: calc(100% + #{rem(19px)});
              padding: 0;

              .dropdown-item {
                padding: rem(20px);
                color: $custom-color-1;
                background: $custom-color-2;
                @include transition(all 200ms linear 0s);
                &:hover {
                  background: $custom-color-1;
                  color: $custom-color-2;
                }
              }
            }
          }
        }
      }
    }
    .sub-navbar {
      @extend %box-shadow;
      padding: rem(20px 50px);
      background: #eff3f8;
      height: auto;
      .filter-bar {
        flex: 0;
        display: flex;
        height: 100%;
        .filter-button {
          margin-right: rem(20px);
          padding: rem(20px);
          color: $custom-color-1;
          background: $white;
          white-space: nowrap;
          border: none;
          @extend %boxLook;
          display: inline-block;
          cursor: pointer;
          @include transition(all 200ms linear 0s);
          &:last-child {
            margin: 0;
          }
          &:hover {
            color: $white;
            background-color: $custom-color-1;
          }
        }
      }

      .upload-form {
        display: flex;
        justify-content: space-between;
        & > input {
          padding: rem(20px);
          @extend %boxLook;
          border: none;
          flex-grow: 1;
          //margin-right: rem(20px);
          min-width: 60%;
        }
        .custom-file {
          height: 100%;
          min-height: rem(64px);
          @extend %boxLook;
          & > input {
            cursor: pointer;
          }
          & > label {
            @extend %boxLook;
            border: none;
            flex-grow: 1;
            background: $white;
            margin: 0;
            height: 100%;
            padding: rem(20px);
            cursor: pointer;
            overflow: hidden;
            position: absolute;
          }
          .custom-file-label {
            .file-name {
              position: relative;
              z-index: 1;
            }
            &:after {
              display: none;
            }
          }
        }
        & > button {
          border: none;
          @extend %boxLook;
          background: $custom-color-1;
          color: $white;
          padding: rem(20px);
          margin-left: rem(20px);
          @include transition(all 200ms linear 0s);
          cursor: pointer;
          &:hover {
            background: darken($custom-color-1, 10%);
          }
        }
      }
    }
    #page-layout {
      height: 100%;
      max-height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      padding: rem(50px 0);
      & > .container-fluid {
        padding: rem(0 44px 0 50px);
      }
      .card {
        @extend %boxLook;
        overflow: hidden;
        border: none;
      }
    }
  }
}

.clearInput {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  z-index: 2;
  background: $white;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  svg {
    width: rem(20px);
    height: auto;
  }
}
.btn {
  @extend %boxLook;
  padding: rem(10px 20px);
}

.filter-wrapper {
  width: rem(200px);
  @extend %boxLook;
  background: $white;
  position: relative;
  z-index: 4;
  #filter-value {
    display: block;
    padding: rem(20px);
  }
  ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    @extend %boxLook;
    background: $white;
    list-style: none;
    width: 100%;
    li {
      cursor: pointer;
      padding: rem(20px);
      border-top: 1px solid $custom-color-2;
      @include transition(all 200ms linear 0s);
      &:hover {
        background-color: $custom-color-2;
      }
    }
  }
}

.nav-tabs {
  .nav-item {
    &.active {
      @extend %border-radius;
    }
  }
}