.hero {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background: url('../images/slider.png') no-repeat fixed center center;
  color: white;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  .btn {
    width: 200px;
    color: orange;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid orange;
    margin-top: 50px;
  }
}


.navbar {
  background-color: black;
  color: white;
}

.corporate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  height: 50%;
  width: 50%;

}
footer {
  height: 70px;
  background-color: black;
}
.special {
  float: left;
}

.About {
  margin-top: 300px;
  width: 100vw;
  height: 100vh;
  color: black;
}
