
.hero {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background: url('../images/slider.png') no-repeat fixed center center;
  color: white;
  //text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}
.preview-image {
  @extend %boxLook;
}
.corporate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  height: 50%;
  width: 50%;
}
.About {
  margin-top: 300px;
  width: 100vw;
  height: 100vh;
  color: black;
}